#Button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(38, 38, 38, 0.35);
    transition: 1.5s;
}

#Button:hover{
    background: #262626;
}

.HomeButton .active{
    background: #262626;
}

#logOut{
    stroke: #262626;
    transition: 1.5s;
}

#logOut:hover{
    stroke: #12C080;
}