#sideCard{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}

#sideCard > div{
    width: 452px;
    height: auto;
    border-radius: 40px;
    background: #262626;
    margin-top: 40px;
    padding: 10px;
}

#sideCard > div .image{
    width: 432px;
    height: 290px;
    border-radius: 30px;
    background: #FFF;
    object-fit: cover;
}

#sideCard .image >:last-child{
    width: 100%;
    height: auto;
    position: relative;
    bottom: 3.4vh;
}

#sideCard .bloodType{
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.20);
    filter: drop-shadow(0px 1px 6px rgba(255, 255, 255, 0.25));
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #FF6060;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.64px;
    margin: 30px 0 10px 370px;
}

#sideCard h2{
    color: #FFF;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.48px;
    margin-left: 1vw;
}

#sideCard h1,
#sideCard input{
    color: #FFF;
    font-family: "Poppins", sans-serif;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 0.88px;
    margin-bottom: 25px;
    margin-left: 1vw;
    background: transparent;
    border: none;
}

#sideCard input{
    width: 90%;
}

#sideCard .highlight{
    display: flex;
    align-items: center;
    width: 372px;
    height: 40px;
    padding-left: 3px;
    border-radius: 5px;
    background: #303030;
    border: none;
}

#sideCard .hospitalsCount{
    display: flex;
    gap: 10px;
    margin: 15px 1vw;
}

#sideCard .hospitalsCount > div{
    width: 50px;
    height: 50px;
    background: #FFF;
    border: 1px solid  #767676;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#sideCard .editIcon{
    position: relative;
    width: 40px;
    height: 40px;
    left: 20vw;
    top: 1vh;
    z-index: 1;
}

#sideCard .editIcon :hover{
    cursor: pointer;
}

#sideCard a + img{
    margin-left: 12px;
}