#navBar {
  z-index: 1;
  width: 100%;
  padding: 35px 40px 35px 20px;
}

#navBar > div {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background: linear-gradient(87deg, #d5fff0 2.02%, #a0e6cc 66.8%);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 37px;
  align-items: center;
}

#navBar .buttons {
  display: flex;
  flex-direction: column;
  gap: 30px;
}


#navBar .buttons a.active {
  background: #262626;
}

#navBar .buttons a {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(38, 38, 38, 0.35);
  transition: 1.5s;
}

#navBar .buttons a:hover {
  background: #262626;
}