#PatientDoctorReviewCard >:first-child {
    width: 211px;
    height: 145px;
    background-color: #FFFFFF;
    border-radius: 20px;
    object-fit: cover;
    overflow: hidden;
}

#PatientDoctorReviewCard > div img{
    width: 100%;
    height: 100%;
}

#PatientDoctorReviewCard{
    width: 241px;
    height: 317px;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.30);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    display: block !important;
    padding: 15px;
    margin-bottom: 38px;
}

#PatientDoctorReviewCard h1{
    color: #000;
    font-family: "Poppins", sans-serif;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.64px;
}

#PatientDoctorReviewCard  h2{
    color: #7C7C7C;
    font-family: "Poppins", sans-serif;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 0.4px;
    margin-top: 6px;
}

#PatientDoctorReviewCard .stars{
    display: flex;
    gap: 5px;
    margin-top: 10px;
}

#PatientDoctorReviewCard .buttons{
    margin-top: 14px;
    display: flex;
    gap: 10px;
}

#PatientDoctorReviewCard .addButton{
    display: flex;
    width: 30px;
    height: 30px;
    padding: 9px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: none;
    background: #0E9A66;
}

#PatientDoctorReviewCard .viewButton{
    width: 171px;
    height: 30px;
    border-radius: 30px;
    background: #0E9A66;
    border: none;
    color: #FFF;
    font-family: "Poppins", sans-serif;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 0.4px;
}